@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #F787C2;
  --color-primary-light: #FAD0E8;
  --color-primary-dark: #E15FA6;
  --color-secondary: #A880F7;

  --color-background-light: #f8f7fa;
  --color-background-dark: #121019;
  --color-surface-dark: #1c1927;

  --border-radius-DEFAULT: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-full: 9999px;
}
